{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
        {% if personas%}
    <thead>
        <tr>
            <td class="text-primary">Nombre</td>
            <td class="text-primary">Fecha Nacimiento</td>
            <td class="text-primary">Padre</td>
            <td class="text-primary">Madre</td>
        </tr>
    </thead>

    <tbody>
        
        {% for persona in personas %}
        <tr>
            <td class="text-primary">{{ persona.nombre }}</td>
            <td>{{ persona.fecha_nacimiento }}</td>
            {% if persona.padre %}
            <td>{{ persona.padre.nombre }}</td>
            {% else %}
            <td> NO REGISTRA</td>
            {% endif %}
            {% if persona.madre %}
            <td>{{ persona.madre.nombre }}</td>
            {% else %}
            <td> NO REGISTRA</td>
            {% endif %}
                        
        </tr>
        {% endfor %}
        {% else %}
        <h4>NO HAY PERSONAS REGISTRADAS</h4>        
        {% endif %}
    </tbody>
</table>

{% endblock %}